<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SwiftPay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginData</display-name>
    <servlet-name>LoginData</servlet-name>
    <servlet-class>test.LoginData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginData</servlet-name>
    <url-pattern>/LoginData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyMail</display-name>
    <servlet-name>VerifyMail</servlet-name>
    <servlet-class>test.VerifyMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyMail</servlet-name>
    <url-pattern>/VerifyMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>test.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobilePayment</display-name>
    <servlet-name>MobilePayment</servlet-name>
    <servlet-class>test.MobilePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobilePayment</servlet-name>
    <url-pattern>/MobilePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestMoney</display-name>
    <servlet-name>RequestMoney</servlet-name>
    <servlet-class>test.RequestMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestMoney</servlet-name>
    <url-pattern>/RequestMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Electricity</display-name>
    <servlet-name>Electricity</servlet-name>
    <servlet-class>test.Electricity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Electricity</servlet-name>
    <url-pattern>/Electricity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank</display-name>
    <servlet-name>Bank</servlet-name>
    <servlet-class>test.Bank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCard</display-name>
    <servlet-name>CreditCard</servlet-name>
    <servlet-class>test.CreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCard</servlet-name>
    <url-pattern>/CreditCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wallet</display-name>
    <servlet-name>Wallet</servlet-name>
    <servlet-class>test.Wallet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wallet</servlet-name>
    <url-pattern>/Wallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dth</display-name>
    <servlet-name>Dth</servlet-name>
    <servlet-class>test.Dth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dth</servlet-name>
    <url-pattern>/Dth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>test.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>test.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mailer</display-name>
    <servlet-name>Mailer</servlet-name>
    <servlet-class>test.Mailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailer</servlet-name>
    <url-pattern>/Mailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusSeat</display-name>
    <servlet-name>BusSeat</servlet-name>
    <servlet-class>test.BusSeat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusSeat</servlet-name>
    <url-pattern>/BusSeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Broadband</display-name>
    <servlet-name>Broadband</servlet-name>
    <servlet-class>test.Broadband</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Broadband</servlet-name>
    <url-pattern>/Broadband</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Landline</display-name>
    <servlet-name>Landline</servlet-name>
    <servlet-class>test.Landline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Landline</servlet-name>
    <url-pattern>/Landline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postpaid</display-name>
    <servlet-name>Postpaid</servlet-name>
    <servlet-class>test.Postpaid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postpaid</servlet-name>
    <url-pattern>/Postpaid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchoolFee</display-name>
    <servlet-name>SchoolFee</servlet-name>
    <servlet-class>test.SchoolFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchoolFee</servlet-name>
    <url-pattern>/SchoolFee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Integrate</display-name>
    <servlet-name>Integrate</servlet-name>
    <servlet-class>test.Integrate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Integrate</servlet-name>
    <url-pattern>/Integrate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Endgame</display-name>
    <servlet-name>Endgame</servlet-name>
    <servlet-class>test.Endgame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Endgame</servlet-name>
    <url-pattern>/Endgame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dino</display-name>
    <servlet-name>Dino</servlet-name>
    <servlet-class>test.Dino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dino</servlet-name>
    <url-pattern>/Dino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jumanji</display-name>
    <servlet-name>Jumanji</servlet-name>
    <servlet-class>test.Jumanji</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jumanji</servlet-name>
    <url-pattern>/Jumanji</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Justice</display-name>
    <servlet-name>Justice</servlet-name>
    <servlet-class>test.Justice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Justice</servlet-name>
    <url-pattern>/Justice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scratch</display-name>
    <servlet-name>Scratch</servlet-name>
    <servlet-class>test.Scratch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scratch</servlet-name>
    <url-pattern>/Scratch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flight</display-name>
    <servlet-name>Flight</servlet-name>
    <servlet-class>test.Flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flight</servlet-name>
    <url-pattern>/Flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Train</display-name>
    <servlet-name>Train</servlet-name>
    <servlet-class>test.Train</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Train</servlet-name>
    <url-pattern>/Train</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Integrate1</display-name>
    <servlet-name>Integrate1</servlet-name>
    <servlet-class>test.Integrate1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Integrate1</servlet-name>
    <url-pattern>/Integrate1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File</display-name>
    <servlet-name>File</servlet-name>
    <servlet-class>test.File</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File</servlet-name>
    <url-pattern>/File</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>test.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comedy</display-name>
    <servlet-name>Comedy</servlet-name>
    <servlet-class>test.Comedy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comedy</servlet-name>
    <url-pattern>/Comedy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPass</display-name>
    <servlet-name>ForgotPass</servlet-name>
    <servlet-class>test.ForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPass</servlet-name>
    <url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoveryPass</display-name>
    <servlet-name>RecoveryPass</servlet-name>
    <servlet-class>test.RecoveryPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoveryPass</servlet-name>
    <url-pattern>/RecoveryPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Play</display-name>
    <servlet-name>Play</servlet-name>
    <servlet-class>test.Play</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Play</servlet-name>
    <url-pattern>/Play</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Activity</display-name>
    <servlet-name>Activity</servlet-name>
    <servlet-class>test.Activity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activity</servlet-name>
    <url-pattern>/Activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sport</display-name>
    <servlet-name>Sport</servlet-name>
    <servlet-class>test.Sport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sport</servlet-name>
    <url-pattern>/Sport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>test.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>